In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
bedfiles = ['results/GRCm38/binned_norm_coverage/CT00/NormCoverage_3p_forward_bin1000bp.bedgraph','results/GRCm38/binned_norm_coverage/CT04/NormCoverage_3p_forward_bin1000bp.bedgraph','results/GRCm38/binned_norm_coverage/CT08/NormCoverage_3p_forward_bin1000bp.bedgraph','results/GRCm38/binned_norm_coverage/CT12/NormCoverage_3p_forward_bin1000bp.bedgraph','results/GRCm38/binned_norm_coverage/CT16/NormCoverage_3p_forward_bin1000bp.bedgraph','results/GRCm38/binned_norm_coverage/CT20/NormCoverage_3p_forward_bin1000bp.bedgraph','results/GRCm38/binned_norm_coverage/CT24/NormCoverage_3p_forward_bin1000bp.bedgraph','results/GRCm38/binned_norm_coverage/CT28/NormCoverage_3p_forward_bin1000bp.bedgraph','results/GRCm38/binned_norm_coverage/CT32/NormCoverage_3p_forward_bin1000bp.bedgraph','results/GRCm38/binned_norm_coverage/CT36/NormCoverage_3p_forward_bin1000bp.bedgraph','results/GRCm38/binned_norm_coverage/CT40/NormCoverage_3p_forward_bin1000bp.bedgraph','results/GRCm38/binned_norm_coverage/CT44/NormCoverage_3p_forward_bin1000bp.bedgraph']

In [15]:
np.unique( np.array([b.split('/')[-1].split('_')[2] for b in bedfiles]) )[0]

'forward'

In [18]:
time_points = np.array([b.split('/')[-2] for b in bedfiles])

In [22]:
infile = '../results/GRCm38/binned_norm_coverage/bin_expression_table_chr19_forward_bin1000bp.csv'
df = pd.read_csv(infile, sep ='\t')

In [23]:
df

,start,end,CT00,CT04,CT08,CT12,CT16,CT20,CT24,CT28,CT32,CT36,CT40,CT44
0,3079000,3080000,NaN,NaN,NaN,NaN,NaN,NaN,0.870091,NaN,NaN,NaN,NaN,NaN
1,3080000,3081000,NaN,NaN,NaN,NaN,NaN,8.09189,NaN,NaN,NaN,NaN,NaN,NaN
2,3083000,3084000,191.47041,109.265745,178.499680,149.656859,220.24258,156.44317,542.936556,202.023945,146.120116,230.051543,130.95403,272.464266
3,3084000,3085000,34.92228,37.878737,40.658285,43.801982,88.09711,45.85402,160.966797,59.418755,55.525682,109.984708,60.53540,65.260872
4,3085000,3086000,45.76022,24.038459,13.883305,54.752480,40.37786,35.06485,103.540892,23.024835,0.730602,21.996963,17.29578,64.445171
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25567,61280000,61281000,NaN,NaN,NaN,NaN,6.11785,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25568,61283000,61284000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.165400,NaN,NaN
25569,61302000,61303000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.730602,NaN,NaN,NaN
25570,61312000,61313000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.742735,NaN,NaN,NaN,NaN
25571,61321000,61322000,NaN,NaN,0.991665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN